<div class="row marketing">
  <h4>Courses</h4>
  <!--
  <div ng-repeat="course in courses">Course: {{course.Title}} - Credits: {{course.Credits}} - Department: {{course.DepartmentName}}</div>
  <div ng-controller="CoursesCtrl">
    <div ui-grid="{ data: courses }" class="angularUIGrid"></div>
  </div>
  -->
  <div ng-controller="CoursesCtrl">
    <img ng-show="loading" src="images/ajax-loader.gif" />
    <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-pinning
         ui-grid-pagination ui-grid-cellnav class="angularUIGrid">
    </div>
  </div>

</div>
